 .web {
     color: #4d5ae5;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.66;
     cursor: pointer;
 }

 .studio {
     color: #2e2f42;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.66;
     cursor: pointer;
 }

 ulol {
     list-style-type: none;
 }

 body {
     font-family: "Roboto",
         sans-serif;
     color: #434455;
     font-size: 16px;
     background-color: #E7E9FC line-height: 1.5;
 }

 h2 {
     font-size: 36px;
     color: #2E2F42;
 }

 h1 {
     font-size: 56px;
     color: #FFFFFF;
 }

 .h1 {
     background-color: #2E2F42
 }

 .button {
     background-color: #4D5AE5;
     color: #FFFFFF;
     padding: 4%;
     cursor: pointer;
 }

 .contact {
     color: #2E2F42;
     cursor: pointer;
 }

 .target {
     cursor: pointer;
 }

 header {
     cursor: pointer;
 }