header {
    color: #e7e9fc;
    font-weight:700;
}

.studio {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.studio:hover, .studio:focus {
    color:#404bbf;
}
.portfolio {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio:hover,
.portfolio:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address .mail {
    letter-spacing: 0.02em;
    color: #434455;
}
.address .mail:hover,
.address .mail:focus {
    color:#404bbf;
}
.address .phone {
    letter-spacing: 0.02em;
    color: #434455;
}
.address .phone:hover,
.address .phone:focus {
    color: #404bbf;
}


.contacts {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.contacts:hover,
.contacts:focus {
    color: #404bbf;
}
.logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    cursor: pointer;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo .studio {
    color: #2e2f42;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    cursor: pointer;
    letter-spacing: 0.03em
    text-transform: uppercase;
}

.studiofooter {
    color: #f4f4fd;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    cursor: pointer;
    letter-spacing: 0.03em
    text-transform: uppercase;
}

ul,
ol {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #ffffff;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em
}

h2 {
    font-size: 36px;
    color: #2e2f42;
}

h1 {
    font-size: 56px;
    color: #ffffff;
}

.h1 {
    background-color: #2e2f42;
}

.h1 .button {
    background-color: #4d5ae5;
    color: #ffffff;
    padding: 4%;
    cursor: pointer;
}

.contact {
    color: #2e2f42;
    cursor: pointer;
}

.target {
    cursor: pointer;
}

header {
    cursor: pointer;
}

.team {
    background-color: #f4f4fd;
}

footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}

p {
    color: #434455;
}

.h1 .button:hover, .h1 .button:focus {
color: #000000
}